<!DOCTYPE html>
{% load staticfiles %}
{% load petlover_template_tags %}

<html lang="en">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            Petlover -
            {% block title_block %}
                love and know pets!
            {% endblock %}
        </title>
    </head>
<body>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>
    <hr />

    <div>
        {% block sidebar_block %}
        {% get_category_list category %}
        {% endblock %}
    </div>

        <div>
            <ul>
                <li><a href="{% url 'petlover:index' %}">Back to Home</a></li>
            </ul>
        </div>
</body>
</html>