{% extends 'petlover/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.species }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if category %}
        <h1>{{ category.species }}</h1>
        {% if pet %}
            <h2>{{ pet.pet_name }}</h2>
            {{ pet.information }}
        {% else %}
        <strong>No information now.</strong>
        {% endif %}
    {% endif %}
{% endblock %}